<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Library Application</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <% if (path === '/result') { %>
  <meta http-equiv="refresh" content="3.5;/books"></meta>
  <% } %>
</head>
