<!DOCTYPE html>
<html lang="en">
  <%- include('./shared/head') %>
  <body>
    <%- include('./shared/navbar') %>
    <main class="container">
      <h1>Add a New Book</h1>
      <form class="add-form" method="POST" action="/add-book">
        <div class="form-item">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" />
        </div>
        <div class="form-item">
          <label for="authorFirst">Author First Name</label>
          <input type="text" name="authorFirst" id="authorFirst" />
        </div>
        <div class="form-item">
          <label for="authorLast">Author Last Name</label>
          <input type="text" name="authorLast" id="authorLast" />
        </div>
        <div class="form-item">
          <label for="isbn">ISBN</label>
          <input type="number" name="isbn" id="isbn" />
        </div>
        <div class="form-item">
          <label for="created">Date of Publication</label>
          <input type="created" name="created" id="created" />
        </div>
        <div class="form-item">
          <label for="summary">Summary</label>
          <textarea id="summary" name="summary" rows="8" cols="5"></textarea>
        </div>
        <div class="form-item">
          <button class="submit" type="submit">Add Book</button>
        </div>
      </form>
    </main>
  </body>
</html>
