<!DOCTYPE html>
<html lang="en">
  <%- include('./shared/head') %>
  <body>
    <%- include('./shared/navbar') %>
    <main class="container">
      <h1>Remove a Book</h1>
      <form class="add-form" method="POST" action="/remove-book">
        <div class="form-item">
          <label for="isbn">ISBN</label>
          <input type="text" name="isbn" id="isbn" />
        </div>
        <div class="form-item">
          <button class="submit" type="submit">Remove Book</button>
        </div>
      </form>
    </main>
  </body>
</html>
